{% load bootstrap4 %}
​
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>
​
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Django Movies</title>
      {% block styles %}{% bootstrap_css %}{% endblock %}
      {% block scripts %}{% bootstrap_javascript jquery='full' %}{% endblock %}
  </head>
​
  <body style="min-height: 150vh;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
      <div class="container fixed">
      {% comment %} <a class="navbar-brand" href="/">Django Movies</a> {% endcomment %}
        <a class="navbar-brand" href="{% url 'index' %}">Django Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display:flex; justify-content: space-around;">
          <div class="navbar-nav" style="display:flex; justify-content: space-around; width: 100%;">
            <a class="nav-item nav-link active" href="/">
              Home
            </a>
            <a class="nav-item nav-link active" href="{% url 'core:movie_list' %}">
              List
            </a>
            <a class="nav-item nav-link active" href="{% url 'core:movie_create' %}">
              Add Movie
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>